body {
	background-color:#000000;
	text-align: center;
	color: white;
	font-size: large;
	font-family: Arial,Consolas,monaco,monospace; 
	padding: 0px;
	margin: 0px;
	display: block;
	margin: auto;
}

h1, h2, h3, h4 {
	text-align: center;
}

table {
	color: white;
	text-align: center;
	margin: auto;
	width: 66%;
}

#intro1 { color: red; }
#intro2 { color: orangered; }
#intro3 { color: orange; }
#intro4 { color: yellow; }
#intro5 { color: yellowgreen; }
#intro6 { color: blue; }
#intro7 { color: indigo; }
#intro8 { color: violet; }
#intro8 { color: pink; }

#chelm1 { color: white; }
#chelm2 { color: gray; }
#chelm3 { color: white; }

#closer {
	color: aqua;
	font-family: cursive;
}